.title{
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00d7e6, 0 0 40px #00b8e6,
      0 0 50px #00dee6, 0 0 60px #00d7e6, 0 0 70px #00d7e6;
}